input[type=text], input[type=password] {
    width: 33%;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login {
    padding:5px 15px;
    background:#4CAF50;
    width: 33%;
    height: 40px;
}